.card-detail-wrapper{
  justify-content: center;
}

.card-detail-img {
  max-width: 30vmax;
  height: auto;
  border-radius: 10px;
}

.one-third {
  width: 33.3%;
}


.detail-column {
  width: 100%;
  display: block;
  padding: 10px;
}

.card-detail-row{
  justify-content: center;
  margin: 3rem 2rem;
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 667px) {
    .card-detail-wrapper{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    .card-detail-column{
      flex-direction: column;
    }
    .one-third{
      min-width: 100%;
    }
  }
