.card-detail-wrapper{
  margin: 3rem 2rem;
  margin-bottom: 0;
  display:flex;
  height: 100%;
  min-height: 100vh;
}

.card-detail-img {
  max-width: 30vmax;
  height: auto;
  border-radius: 10px;
}

.card-detail-column {
  display:flex;
}

.one-third {
  width: 33.3%;
}

.one-fifth{
  width: 15%;
}

.detail-column {
  width: 50%;
  margin-left: 16%;  
  display: block;
  padding: 10px;
}

@media only screen 
  and (min-device-width: 375px)
  and (max-device-width: 667px) {
    .card-detail-wrapper{
      flex-direction: column;
      flex-wrap: wrap;
    }
    .card-detail-column{
      flex-direction: column;
    }
    .one-third{
      min-width: 100%;
    }
  }
